<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Node.js News</h1>
    
    <% articles.forEach(function(article, index) { %> 
    <a href="#" class="news_card">
         <img src="<%- article.urlToImage %> "  -->
        alt="<%- article.title.rendered %> ">
        <h2><%- article.title %></h2> 
        <p><%- article.description %> </p>
        <p><%- article.content %> </p>
         <p><%- article.author %> </p>
        <p><%- article.publishedAt %> </p>
     </a> 
    <% }) %> 
</body>
</html>

  